## Question 1

#### Consider the following Python module:
```
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
return a + 2
```

After importing the module into the interpreter, you execute:
```
>>> b()
>>> b()
>>> b()
>>> a
?
```
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [8]:
a = 0
def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

In [9]:
b()
b()
b()
a

6

## Explaination:-
```
 --> Initially, a is assigned a value of 0.
 --> When the function b() called for the first time it will call c(a) function which assigns value 2 to a.
 --> function b() called for the second time it will call c(a) function and assigns another value 2 to a.
     a = (Current Value of a=2) + new value (2) 
     a = 4
 --> function b() called for the third time it will call c(a) function which assigns another value 2 to a.
     a = (Current Value of a=4) + new value (2) 
     a = 6
 --> Finally, when the last expression a is evaluated, it returns the current value of 
     the global variable a, which is 6.
```

## Question 2
#### Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

```
>>> fileLength('midterm.py')
284 
>>> fileLength('idterm.py')
Traceback (most recent call last): 
    File "<pyshell#34>", line 1, in <module> 
        fileLength('idterm.py')
    File "/Users/me/midterm.py", line 3, in fileLength 
        infile = open(filename)
   FileNotFoundError: [Errno 2] No such file or directory: 
    'idterm.py'
```
    
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:
    
    >>> fileLength('midterm.py') 
    358 
    >>> fileLength('idterm.py')
    File idterm.py not found.

In [4]:
import os

def fileLength(filename):
    if os.path.exists(filename):
        try:
            file = open(filename)
            contents = file.read()
            file.close()
            file_length = len(contents)
            print(file_length)
        except:
            print("An error occurred while reading the file.")
    else:
        print("File", filename, "not found.")

In [5]:
fileLength('midterm.py')

396

In [6]:
fileLength('idterm.py')

File idterm.py not found.

## Question 3 
#### Write a class named Marsupial that can be used as shown below:
```
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten') 
>>> m.pouch_contents() ['doll', 'firetruck', 'kitten']
```

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:

a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and
c. overloads the __str__ operator so it behaves as shown below.
```
>>> k = Kangaroo(0,0) 
>>> print(k) I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll') 
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten') 
>>> k.pouch_contents() ['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0) 
>>> print(k) 
I am a Kangaroo located at coordinates (3,0)
```

In [9]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return "I am a Kangaroo located at coordinates ({}, {})".format(self.x, self.y)

In [12]:
k = Kangaroo(0, 0)
print(k) 

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  

k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

## Question 4
#### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
```
x = { 𝑥/2  𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
    { 3𝑥+1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
```
      
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.
```
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1
```

In [14]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [15]:
collatz(1)

1

In [16]:
collatz(10)

10
5
16
8
4
2
1

## Question 5
#### Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.
```
>>> binary(0) 
0 
>>> binary(1)
1
>>> binary(3) 
11 
>>> binary(9) 
1001
```

In [3]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end='')

In [4]:
binary(0)

0

In [5]:
binary(1)

1

In [6]:
binary(3)

11

In [7]:
binary(9)

1001

## Question 6
#### Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
```
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)

W3C Mission
 Principles
```

In [11]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_body = False
        self.heading_level = 0

    def handle_starttag(self, tag, attrs):
        if tag == "body":
            self.in_body = True

        if self.in_body and tag.startswith("h"):
            self.heading_level = int(tag[1])
        
    def handle_endtag(self, tag):
        if tag == "body":
            self.in_body = False

    def handle_data(self, data):
        if self.in_body and self.heading_level > 0:
            indentation = self.heading_level - 1
            print(" " * indentation + data)

infile = open('w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

W3C Mission


 Principles

## Question 7 
#### Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.
```
>>> webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html 
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html 
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html 
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html 
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
```

In [7]:
import urllib.request
import urllib.parse
from html.parser import HTMLParser

class LinkParser(HTMLParser):
    def __init__(self, base_url, depth, indent):
        super().__init__()
        self.base_url = base_url
        self.depth = depth
        self.indent = indent

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    url = urllib.parse.urljoin(self.base_url, attr[1])
                    if url.startswith('http'):
                        print(' ' * self.indent + url)
                    if self.depth > 0:
                        self.recursive_webdir(url, self.depth - 1, self.indent + 4)

    def recursive_webdir(self, url, depth, indent):
        try:
            response = urllib.request.urlopen(url)
            if response.getcode() == 200:
                content = response.read().decode('utf-8')
                parser = LinkParser(url, depth, indent)
                parser.feed(content)
        except:
            pass

def webdir(url, depth, indent):
    parser = LinkParser(url, depth, indent)
    parser.recursive_webdir(url, depth, indent)

webdir('https://reed.cs.depaul.edu/lperkovic/csc242/lecture9/one.html', 2, 0)

https://reed.cs.depaul.edu/lperkovic/csc242/lecture9/two.html
    https://reed.cs.depaul.edu/lperkovic/csc242/lecture9/four.html
        https://reed.cs.depaul.edu/lperkovic/csc242/lecture9/five.html
https://reed.cs.depaul.edu/lperkovic/csc242/lecture9/three.html
    https://reed.cs.depaul.edu/lperkovic/csc242/lecture9/four.html
        https://reed.cs.depaul.edu/lperkovic/csc242/lecture9/five.html

## Question 8
#### Write SQL queries on the below database table that return:
```
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.
```

In [1]:
import sqlite3

conn = sqlite3.connect('weather_data.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE WeatherData (
        City TEXT,
        Country TEXT,
        Season TEXT,
        Temperature REAL,
        Rainfall REAL
    )
''')

data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('INSERT INTO WeatherData VALUES (?, ?, ?, ?, ?)', data)

conn.commit()
conn.close()

In [31]:
import sqlite3

conn = sqlite3.connect('weather_data.db')
cursor = conn.cursor()

# a)
cursor.execute("SELECT Temperature FROM WeatherData")
temperature_data = cursor.fetchall()
print("Temperature Data:", temperature_data)

Temperature Data: [(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

In [32]:
# b) 
cursor.execute("SELECT DISTINCT City FROM WeatherData")
cities = cursor.fetchall()
print("Cities:", cities)

Cities: [('Mumbai',), ('London',), ('Cairo',)]

In [33]:
# c)
cursor.execute("SELECT * FROM WeatherData WHERE Country = 'India'")
india_records = cursor.fetchall()
print("Records for India:", india_records)

Records for India: [('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [34]:
# d) 
cursor.execute("SELECT * FROM WeatherData WHERE Season = 'Fall'")
fall_records = cursor.fetchall()
print("Fall Records:", fall_records)

Fall Records: [('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [26]:
# e) 
cursor.execute("""
    SELECT City, Country, Season
    FROM WeatherData
    GROUP BY City, Country, Season
    HAVING AVG(Rainfall) BETWEEN 200 AND 400
""")
rainfall_average_records = cursor.fetchall()
print("Average Rainfall Records:", rainfall_average_records)

Average Rainfall Records: [('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]

In [35]:
# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
cursor.execute("""
    SELECT City, Country
    FROM WeatherData
    WHERE Season = 'Fall'
    GROUP BY City, Country
    HAVING AVG(Temperature) > 20
    ORDER BY AVG(Temperature) ASC
""")
fall_temperature_records = cursor.fetchall()
print("Fall Temperature Records:", fall_temperature_records)

Fall Temperature Records: [('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [36]:
# g) 
cursor.execute("SELECT SUM(Rainfall) FROM WeatherData WHERE City = 'Cairo'")
cairo_total_rainfall = cursor.fetchone()[0]
print("Total Annual Rainfall for Cairo:", cairo_total_rainfall)

Total Annual Rainfall for Cairo: 27.6

In [37]:
# h) 
cursor.execute("SELECT Season, SUM(Rainfall) FROM WeatherData GROUP BY Season")
season_total_rainfall = cursor.fetchall()
print("Total Rainfall for Each Season:", season_total_rainfall)

conn.close()

Total Rainfall for Each Season: [('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

## Question 9
####  Suppose list words is defined as follows:
```
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)
```

In [20]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [21]:
# a)
list_a = [word.upper() for word in words]
print(list_a)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [18]:
# b)
list_b = [word.lower() for word in words]
print(list_b)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [17]:
# c) 
list_c = [len(word) for word in words]
print(list_c)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [16]:
# d) 
list_d = [[word.upper(), word.lower(), len(word)] for word in words]
print(list_d)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [15]:
# e)
list_e = [word for word in words if len(word) >= 4]
print(list_e)

['quick', 'brown', 'jumps', 'over', 'lazy']